<div class="row">
  <div class="col m6 offset-m3 center">
    <h2>Forgot your password?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render partial: "shares/devisemes" %>

      <div class="input-field">
        <%= f.email_field :email, :id => "email", :placeholder => "email", autofocus: true %>
      </div>
      
      <button class="btn waves-effect waves-light" type="submit" name="action">Send me reset password instructions</button>
      
    <% end %>

  </div>    
</div>
