<h1>My Projects</h1>

<div class = "row" data-no-turbolink>
	<br/>

	<% if @projects.count > 0 %>

		<% @projects.each do |project| %>
			<%= link_to project do %>
			<div class="col s12 m6 l4">
				<div class="card">

					<div class="card-image waves-effect waves-block waves light">
						<%= image_tag project.image %>
					</div>

					<div class="card-content" style="height: 6em">
						<span class="card-title grey-text text-darken-4">
							<%= project.shortname %>
						</span>
					</div>
				</div>
			</div>
			<% end %>
		<% end %>
	<% else %>
		<div class="center">
			<h5>Currently you don't have any projects!</h5>
		</div>
		<%= link_to "Show me all Projects", root_path, class: "btn btn-warning" %>
	<% end %>
</div>