@import "materialize";
@import "toastr";

@font-face {
  font-family: roboto;
  src: url('Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: roboto-thin;
  src: url('Roboto-Thin.ttf') format('truetype');
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  * {

    font-family: roboto;

  }

  main {
    flex: 1 0 auto;
  }

  .underline {
    text-decoration: underline;
    color: #EE6E73;  
  }

  .line {
    border-bottom: 1px solid #EE6E73;
  }
  
  .header {
  	background-color: #5A6368;
  } 

  h5 {
    font-family: roboto-thin;
  }
  h3 {
    font-family: roboto-thin;
  }
  p {
    font-size: 16px;
  }

  .footer {
    background-color: #5A6368;
  } 

  .footer-image {
    max-width: 80%;
  }

  .topline {
     margin-top: -15px;
     border-top: 1px solid #EE6E73;
  }

  .about {
    margin-top: 10px;
  }

  .right hide-on-med-and-down{
    font-size: 18pt;
  }

  .card .card-action a {
    text-transform: none;
    font-size: 16px;
    margin-right: 0px;
    color: #EE6E73;
    
    letter-spacing: .9px;

  }

  .collection a.collection-item:not(.active):hover {
    color: #EE6E73;
    background-color: #FAFAFA;

    
  }
  .collection .collection-item.active {
    background-color: #37474F;
    color: #EE6E73;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
    
  .container {
    width: 95%;
    
  } 
  i.social {
    padding: 5px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
  }
  
  .avatar-small {
    width: 50px;
  }

  .avatar-medium {
    width: 80px;
  }

  .mask {
    z-index: 99;
  }